h3{
    margin: 40px 0 40px 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  p {
    margin: 0 0 40px 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }
  .alarm-container{
    padding: 60px 0 40px 0;
  }