h2 {
    margin: 0 0 40px 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }

  h3 {
    margin: 40px 0 40px 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  
  }
  section {
      margin: 10px 0 30px 0;
      padding: 10px auto;
  }
  .hero-img {
    background-image: url("../../public/_Images/inner_peace.png");
    background-repeat: no-repeat;
  }

  .hero {
  
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    font-size: 44px;
    line-height: 55px;
    color: #FFFFFF;
  
  }

p {
    margin: 0 0 40px 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }

  #home-quote {
    font-style: italic;
    font-weight: normal;
  }

  .row-grey-bg {
    background: #E7EBEF;
    padding: 20px;
  }

  #footer {
    background: #414784;
    width: 100%;
    height: 120px;
  }