.teal-button{
    margin: 2vw auto;
    background-color: #5FB1AC;
    border-radius: 6px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    width: 248px;
    height: 68px;
    border: 1px solid magenta;
}